@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html,
head,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;  // setting base font size as 16px
  color: $black;
  margin: 0;
}