$flex: flex;
$row: row;
$column: column;
$space-between: space-between;
$center: center;
$solid: solid;
$none: none;
$pointer: pointer;
$capitalize: capitalize;
$border-box: border-box;
$unset: unset;
$relative: relative;
$absolute: absolute;